.search-header {
	padding: 20px;  
	background: #eeeef3;
}

.list-group-item {
	padding: 15px;
}

.img-responsive {
	margin: 10px;
}

.padding-text {
	padding-top: 40px;
}

.list-group-item {
	padding: 0 15px 0 5px;
}